.dashboard-container {
    display: flex;
    flex-direction: row;
    height: 100vh;
}

.navbar-side {
    background-color: var(--primary);
    height: 100%;
    width: 20%;
    top: 0;
    left: 0;
    z-index: 1;
    overflow-x: hidden;
    padding-top: 20px;
    text-align: center;
}

.navbar-title-container {
    display: block;
}

h1 {
    font-size: 1.5em;
    font-weight: 600;
    color: var(--tertiary);
}

.content-container {
    display: flex;
    flex-direction: row;
    width: 80%;
    padding: 2% 2%;
}
